// Overrides from the default design patterns in framework, specific for login-forms
.Actions,
.Actions p {
  // Overrides admin style
  margin-bottom: 0;
}

// Don't make validation messages render as Bootstrap alerts in this module
.message {
  border: 0;
  padding: 0;

  &.bad,
  &.error,
  &.good,
  &.warning {
    background-color: transparent;
  }
}

.form-group {
  &:after {
    border-bottom: 0;
    margin: 0;
  }
}

.field {
  border-bottom: 0;
  box-shadow: none;

  &.checkbox {
    padding-left: 0; // Remove SS3 form field column formatting

    label.right {
      color: inherit;
    }
  }

  label.left {
    padding: 0;
  }

  .middleColumn {
    margin-left: 0; // Remove SS3 form field column formatting
  }
}
