* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr calc(var(--sizing-app-brand-height) + (var(--spacing-app-brand) * 2)) auto 80px 1fr;
  height: 100vh;

  // Allows larger UIs to expand in width when necessary.
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr max-content 1fr;
  }
}

.app-brand {
  grid-column: 2;
  grid-row: 2;
}

.login-form {
  grid-column: 2;
  grid-row: 3;
  display: block;
}

.silverstripe-brand {
  grid-column: 2;
  grid-row: 4;
}

// Replacing SilverStripe 4's .btn-toolbar styles in .Actions for SilverStripe 3
.Actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
