html {
  background-color: var(--color-page-background);
  color: var(--color-page-text);
}

.app-brand {
  display: flex;
  justify-content: center;
  padding: var(--spacing-app-brand);

  &__name {
    margin: 0;
  }

  &__logo + &__name {
    display: none;
  }

  // Helper classes for Dark Mode support on image-based logos
  &__logo--dark-mode {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    &__logo--light-mode {
      display: none;
    }

    &__logo--dark-mode {
      display: block;
    }
  }

}

.login-form {
  background-color: var(--color-form-background);
  box-shadow: var(--box-shadow-form);
  color: var(--color-form-text);
  padding: var(--spacing-form);
  width: 100vw;

  @media (min-width: 420px) {
    border-radius: var(--border-radius-form);
    padding: var(--spacing-form-desktop);
    width: auto;
  }
}

.login-form__title {
  margin-top: 0;
}

.login-form__content,
.login-form__message,
.message {
  max-width: var(--sizing-content-width);
}

.login-form__message--error,
.message.bad {
  color: var(--color-error);
}

.login-form__fields,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.login-form-control,
.field {
  margin-bottom: var(--spacing-form-controls);
}

.login-form-control--text .login-form-control__label,
.field.text label {
  display: block;
  margin-bottom: var(--spacing-form-label-bottom);
}

.login-form-control--text .login-form-control__field,
input.text {
  background-color: var(--color-field-background);
  border: 1px solid var(--color-field-border);
  border-radius: var(--border-radius-field);
  color: var(--color-field-text);
  padding: var(--spacing-field-content);
  width: 100%;

  @media (min-width: $mobile-breakpoint) {
    width: var(--sizing-content-width);
  }
}

.login-form-actions,
.btn-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form-actions__submit,
input[type="submit"] {
  background-color: var(--color-submit-background);
  border: 0;
  border-radius: var(--border-radius-field);
  color: var(--color-submit-text);
  cursor: pointer;
  padding: var(--spacing-submit-content);
}

.silverstripe-brand {
  color: var(--color-page-text);
  display: flex;
  justify-content: center;
  padding: var(--spacing-silverstripe-brand);
}
