html {
  font-size: 13px; // SilverStripe 3.x default is 12px
}

body {
  font-size: 1rem;
}

a {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-link-primary);
    text-decoration: underline;
  }

  &.link--secondary,
  &.link--secondary:hover {
    color: var(--color-form-text);
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.2308rem;
}

h1 {
  font-size: 1.693rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}
