html {
  font: 14px/1.5 sans-serif;
}

a {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link--secondary {
    color: var(--color-form-text);
  }
}

label {
  font-size: (13 / 14) + rem;
}

input {
  font-size: 1rem;
}
