a {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link--secondary {
    color: var(--color-form-text);
  }
}

h2 {
  font-size: 1.5rem;
}
