$mobile-breakpoint: 420px;

$color-button-secondary-background: #FFFFFF;
$color-button-secondary-text: #222222;
$color-button-primary-background: #008A00;
$color-button-primary-text: #FFFFFF;
$color-form-background: #FFFFFF;
$color-form-text: #4F5861;
$color-field-text: #222222;
$color-field-background: #FFFFFF;
$color-field-border: #CED3D9;
$color-link-primary: #0071C4;
$color-message-error: #71141F;
$color-message-warning: #856404;
$color-page-background: #F6F7F8;
$color-page-text: #222222;

// Dark Mode color variants
$dark-color-button-secondary-background: #3E464E;
$dark-color-button-secondary-text: #FFFFFE;
$dark-color-button-primary-background: #F6C445;
$dark-color-button-primary-text: #3E464E;
$dark-color-field-background: #4F5861;
$dark-color-field-border: #4F5861;
$dark-color-field-text: #FFFFFE;
$dark-color-form-background: #3E464E;
$dark-color-form-text: #F7F8FA;
$dark-color-link-primary: #74D6F8;
$dark-color-message-error: #DA273B;
$dark-color-message-warning: #FFA500;
$dark-color-page-background: #4F5861;
$dark-color-page-text: #FFFFFE;

$border-radius-form: 4px;
$border-radius-field: 3px;
$box-shadow-form: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

$sizing-app-brand-height: 40px;
$sizing-content-width: 330px;

$spacing-app-brand: 30px;
$spacing-field-content: 8px;
$spacing-form: 30px 20px 40px;
$spacing-form-desktop: 30px 30px 40px;
$spacing-form-controls: 20px;
$spacing-form-label-bottom: 5px;
$spacing-silverstripe-brand: 30px;
$spacing-submit-content: 10px 20px;

:root {
  --color-button-secondary-background: #{$color-button-secondary-background};
  --color-button-secondary-text: #{$color-button-secondary-text};
  --color-button-primary-background: #{$color-button-primary-background};
  --color-button-primary-text: #{$color-button-primary-text};
  --color-field-background: #{$color-field-background};
  --color-field-border: #{$color-field-border};
  --color-field-text: #{$color-field-text};
  --color-form-background: #{$color-form-background};
  --color-form-text: #{$color-form-text};
  --color-link-primary: #{$color-link-primary};
  --color-message-error: #{$color-message-error};
  --color-message-warning: #{$color-message-warning};
  --color-page-background: #{$color-page-background};
  --color-page-text: #{$color-page-text};

  --border-radius-form: #{$border-radius-form};
  --border-radius-field: #{$border-radius-field};
  --box-shadow-form: #{$box-shadow-form};

  --sizing-app-brand-height: #{$sizing-app-brand-height};
  --sizing-content-width: #{$sizing-content-width};

  --spacing-app-brand: #{$spacing-app-brand};
  --spacing-field-content: #{$spacing-field-content};
  --spacing-form: #{$spacing-form};
  --spacing-form-desktop: #{$spacing-form-desktop};
  --spacing-form-controls: #{$spacing-form-controls};
  --spacing-form-label-bottom: #{$spacing-form-label-bottom};
  --spacing-silverstripe-brand: #{$spacing-silverstripe-brand};
  --spacing-submit-content: #{$spacing-submit-content};

  @media (prefers-color-scheme: dark) {
    --color-button-secondary-background: #{$dark-color-button-secondary-background};
    --color-button-secondary-text: #{$dark-color-button-secondary-text};
    --color-button-primary-background: #{$dark-color-button-primary-background};
    --color-button-primary-text: #{$dark-color-button-primary-text};
    --color-field-background: #{$dark-color-field-background};
    --color-field-border: #{$dark-color-field-border};
    --color-field-text: #{$dark-color-field-text};
    --color-form-background: #{$dark-color-form-background};
    --color-form-text: #{$dark-color-form-text};
    --color-link-primary: #{$dark-color-link-primary};
    --color-message-error: #{$dark-color-message-error};
    --color-message-warning: #{$dark-color-message-warning};
    --color-page-background: #{$dark-color-page-background};
    --color-page-text: #{$dark-color-page-text};
  }
}
